{% extends "o_layout.html" %}

{% block custom_links %}
    <!-- DataTable CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock %}

{% block main %}
    <main role="main" class="col-md-10  ml-sm-auto pt-3 px-4">
            <h3 class="m-2">Список контактів</h3>
          <div class="table-responsive mb-5">
              <table class="table table-hover some--table">
              <thead>
                <tr>
                  <th>НПА</th>
                  <th>Ім'я</th>
                  <th>Прізвіще</th>
                  <th>Телефон</th>
                  <th>Тип</th>
                    <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                 </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                 </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
                  <tfoot>
                  <tr class="some--filters">
              </tr>

                  </tfoot>
            </table>
          </div>
        </main>


{% endblock %}
{% block scripts %}
    <!-- DataTables Plugin -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
           $('.some--table tbody tr').each(function () {
              $(this).append('<td><a href="#"><i class="fa fa-phone"></i></a><a href="#"><i class="fa fa-pencil"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>'
                );
           });

            var table = $('.some--table').DataTable( {
                "language": {
                    "lengthMenu": "Відобразити _MENU_ контактів на сторінці",
                    "zeroRecords": "Вибачте, нічого не знайдено",
                    "info": "Показана сторінка _PAGE_ з _PAGES_",
                    "infoEmpty": "Немає записів",
                    "infoFiltered": "(профільтровано з _MAX_ записів)",
                     "search":         "Пошук:",
                    "paginate": {
                        "first":      "Перша",
                        "last":       "Остання",
                        "next":       "Наступна",
                        "previous":   "Минула"
                    },
                },
                "paging":false,
            } );

            $('.fa-users').parent().addClass('active');



            // Setup - add a text input to each footer cell
            var i = 0;
            $('.some--table thead tr th').each( function () {
                var title = $(this).text();
                if (title !== ''){
                    $('.some--filters').append( '<td class="p-1 pt-2"><input class="form-control search--input search--'+i+'" style="margin-left:0.2em" type="text" placeholder="Пошук '+title+'" /></td>' );
                    i++;
                }
            } );

            // Apply the search
            i = 0;
            table.columns().every( function () {
                var that = this;

                $('.search--'+i).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
                i++;
            } );
        });
    </script>
{% endblock %}